@-webkit-keyframes slide{
    from {background-position: right 0;}
    to {background-position: left -170%;}
}

html{
    overflow: hidden;
}
header{
    height: 20vh; 
}
main{
    height: 75vh; 
    background:#c7c6ab url(../../media/img/front-bus_icon-icons.com_72746.png);
    background-repeat: repeat;
    background-position: bottom left;
    -webkit-animation: slide 180s linear infinite; 
}
main>div{
    font-family: monospace;
    display: block;
    width: 25%;
    height: 15%;
    padding: 1%;
    position: absolute;
    background-color:#fd8f8f; 
    box-shadow: #fd8f8f 0px 0px 10px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    justify-items: center;
    text-align: center;
}
#button{
    background-color: #c7c6ab; 
    width: 5vw;
    height: auto;
    padding: 2%;
    color: #fff; 
    text-decoration: none;
    border-radius: 20px;
    margin: 0 auto;
    transition: background-color ease-in-out 50ms;
    box-sizing: border-box;
}
#button:hover{
    background-color: #ff5e5e; 
    cursor: pointer;
}

footer{
    height: 5vh;
}
#backbutton{
    background-color: #ff7676;
    width: auto;
    height: 2vh;
    padding: .5%;
    position:absolute;
    bottom: calc(5vh + 2%); 
    left: 2%; 
    color: #fff;
    text-decoration: none;
    box-sizing: content-box;
    border-radius: 20px;
}
