@-webkit-keyframes slide{
    from {background-position: right 0;}
    to {background-position: left -170%;}
}

html{
    overflow: hidden;
}
header{
    height: 20vh; 
}
main{
    height: 75vh; 
    background:#c7c6ab url(../../media/img/front-bus_icon-icons.com_72746.png);
    background-repeat: repeat;
    background-position: bottom left;
    -webkit-animation: slide 180s linear infinite; 
}
main>div{
    font-family: monospace;
    display: block;
    width: 75%;
    height: 65%;
    padding: 1%;
    position: absolute;
    background-color:#729b7d; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    justify-items: center;
    text-align: center;
}
#button{
    background-color: #7c9483; 
    width: 5vw;
    height: auto;
    padding: 2%;
    color: #fff; 
    text-decoration: none;
    border-radius: 20px;
    margin: 0 auto;
    transition: background-color ease-in-out 50ms;
    box-sizing: border-box;
}
#button:hover{
    background-color: #c7c6ab; 
    cursor: pointer;
}

footer{
    height: 5vh;
}
#backbutton{
    background-color: #7c9483;
    width: auto;
    height: 2vh;
    padding: .5%;
    position:absolute;
    bottom: calc(5vh + 2%); 
    left: 2%; 
    color: #fff;
    text-decoration: none;
    box-sizing: content-box;
    border-radius: 20px;
}

#img1{
    width: 23vw;
    height: 25vw;
}

#img2{
    width: 25vw;
    height: 25vw;
}

h2{
    font-size: 2em;
}

#location {
    width: 13vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-left: 5vw;
}
#location i {
    font-size: 2rem;
}
#location p {
    margin: 0 0 0 0.5vw;
}

@media only screen and (max-width: 500px) {
    #location {
        display: none;
    }
}

#standort{
    float:right;
}


h4{
    color:white;
    font-size:50px;
}

#calculate{

    background-color: #7c9483;
    width: auto;
    height: 2vh;
    padding: .5%;
    left: 2%; 
    color: #fff;
    text-decoration: none;
    box-sizing: content-box;
    border-radius: 20px;

}

#back{
    float:left;
    color:white;
    font-size:40px;
    margin-left:10px;
}
